<h1> Create Order </h1>

<form action="/orders" method="POST">
    
<label for="customer_name">First name</label><br>
    <input type="text" id="customer_name" name="customer_name"><br>
    <label for="food_name">Food Name</label><br>
    <input type="text" id="customer_name" name="customer_name"><br>
    <label for="quantity">Quantity</label><br>
    <input type="text" id="customer_name" name="customer_name"><br>
    <input type="submit" value="Submit">put type="text" id="customer_name" name="customer_name"><br>
    <label for="quantity">Quantity</label><br>
    <input type="text" id="customer_name" name="customer_name"><br>
    <input type="submit" value="Submit">